requests
json
os
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
google-cloud-bigquery
google-auth
pandas
db-dtypes
math
boto3
snowflake-connector-python
openai